body{
    margin: 0px;
}

.bgO{
    background-color: orange !important;
    /* '!important' É mais importante que a configuração do Bootstrap */
}

.bgG{
    background-color: blueviolet !important;
}

.divCenter{
    justify-content: center;
}

.fontBold{
    font-weight: bold;
    color: black;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.video{
    display: flex;
    justify-content: center; /* Pega a caixinha de vídeo inteiro, e coloca pro centro */
}

.navHD:hover {
  background-color: #fccc84;
  border-radius: 15px;
  color: black !important;
  transition: all .2s;
}

.navHG:hover {
  background-color: rgb(201, 146, 253);
  border-radius: 15px;
  color: black !important;
  transition: all .2s;
}